/**** PAGE GLOBAL PARAM ****/
body
{	
	font-family:'Raleway', sans-serif;
	width: auto;
		
}
.star
{
	color: #0065FC;
}

.grey
{
	color:#f2f2f2;
}

a
{
	text-decoration: none;
	color: black;
}

ul
{
	padding:0px;
}


/**** HEADER ****/

/*en-tête*/
header
{
	display: flex;
	flex-direction: column;
	margin:17px ;


}

#titre
{
	width: 100%;
	display: flex;
	justify-content: space-between;
}


header h2 p
{
	margin:0;
}

header h2
{
	margin-bottom:0;
	margin-top: 3rem;
}

.logo
{
	width:7.5rem;
	height: 3rem; 
	margin-top:20px;
}


nav ul
{
	display: flex;
	list-style-type: none;

}

nav a
{
	display: flex;
	text-decoration: none;
	margin-right:70px;
	position:relative;
	left:30px;
	text-align:center;
	color: black;

}

nav li:hover
{
	
	border-top: 2px solid  #0065FC;
	padding-top: 20px;
}

nav li
{
	border:white 2px solid;
    padding-top:20px; 
}


#inscription
{
	font-weight: bold;
	color: #0065FC;
}

/*Recherche*/

#info
{font-size: 0.78rem}

.fa-map-marker-alt
{
	border: 0.1REM SOLID white;
	border-radius: 1rem 0rem 0rem 1rem;
	border-right:none;
	background-color: #F2F2f2;
	padding: 14px;
	position: relative;
    left: 9px;
		
}



#lieu
{
	border:0.1rem solid #F2F2F2;
	padding: 0.8rem;
	font-weight: bold;
	height:19px;
	padding-bottom:9.9px;
	

}

#recherche
{
	border: 0.08rem solid white;
	border-radius:0rem 1rem 1rem 0rem;
	border-left:none;
	background-color: #0065FC; 
	padding:14px;
	font-weight: bold;
	color: white;
	position: relative;
    left: -18px;
    bottom: 1.2px;

}

.fa-info
{

	border:0.1rem solid #f2f2f2;
	border-radius:1rem;
	padding:0.2rem;
	padding-left:0.4rem;
	padding-right:0.4rem;
 	background-color:white;
	color:#0065FC;
	
	
}

#loupe
{
	display:none;
}

/*Filtres*/
#filtres
{
	display: flex;
	margin-top: 0;
	font-weight: bold;
}
#filtres p
{
	margin-top: 1.6rem;
	margin-right: 1rem;
}

#filtres ul
{
	display: flex;
	align-items: flex-start;
	margin-top: 0;
	
}

#filtres ul li
{

	margin:0.8rem;
	list-style-type: none;
}


#filtres li
{
	border-radius:2rem;
	border: 0.2rem solid #f2f2f2;
	display:flex;

	border-left:none;
	text-align:center;

}

#filtres i
{
	border-radius:22px;
	padding:0.8rem;
	color:#0065FC;
	background-color:#DEEBFF;
	margin-right:10px;

}

.filtreli
{
	PADDING-top:0.6rem;
	padding-right:15px;
	 
}

#filtres a{display:flex;}

/****MAIN****/
/* Hebergements*/
#sectionRow 
{ 
	display: flex;
 	justify-content: space-between; 
	flex-wrap: wrap;
}
section
{ 
	background-color:#F2F2F2 ;
 	border-radius: 20px; 
	padding: 20px;
	margin: auto;
}
#hebergement
{ 
	width: 60%; 
	height:657.875px;
	min-width: 500px; 
}
#hebergement h2,.plus2
{
	margin-left:15px;
	font-weight: bold;
}

.l_1 
{ background-color: white; 
	padding: 5px; 
	border-radius: 25px;
	width:30%;
}
.row 
{ 
	display: flex; 
	justify-content: space-around; 
	margin-bottom: 20px;
	margin-top:40px
}
.img
{
	border-radius: 1rem 1rem 0rem 0rem;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
    width:100%;
    height: 130px;
	
}
.l_1 p,.l_1 h3
{
	margin: 3px;
	margin-left:8px;
}

.star
{
	margin-left:8px;
}

.grey
{
	color: #F2F2F2;
}



/*populaires*/

#populaire
{
	 width: 30%;
}

#populaire h2
{
	width:56.5%;padding-left:23px;
}

.fa-chart-line
{
	position: relative;
	left:10.3rem;
}

.l_2
{ 
	display: flex;
	background-color: white;
	padding: 5px;
	border-radius: 25px;
	width: auto;
	height: 9rem;
	min-width: 200px;
	margin: 21.6px;
}


.l_2 h3
{
	margin-top:0.2rem;
	margin-bottom:0.5rem;
}

.nuit
{
	display: flex;
	flex-direction: column;
	margin-left: 15px;
	margin-right:50px;
}

.nuit p
{
	margin-top: 0;
	margin-bottom: 30px;
}
.img2
{
	border-radius: 1rem 1rem 0rem 0rem;
	object-fit: cover;
	border-radius: 20px 0 0 20px;
    width:8.5rem;
    height: auto;
	
}

.l_2 a
{
	display: inline-block;
	display:flex;

}

.row_2

{
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin:auto;
}

/*Activites*/

#norow
{
	padding:0;
	background-color:white;
	margin-top: 40px;
    margin-bottom: 40px;
}

#norow a
{
	display:flex;
	flex-direction: column;
}

#norow h2
{
	margin-left:19px;
	margin-bottom:3px;
}


#activites
{
	padding-top: 0;
	font-size: 15px;
	width: 100%;
	display:flex;
	flex-direction: row;
	


}

#activites h3
{
	margin: auto;
	padding-top:0.6rem;
	margin-left: 1rem;
	
}

.port
{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 50%;
}

.pomegues
{
	display: flex;
	flex-direction: column;
	width: 50%;
}


.img_3a
{
	border-radius: 1rem 1rem 0rem 0rem;
	height: 23rem;
	width: 100%;
	object-fit: none;

}

.img_3b
{
	border-radius: 1rem 1rem 0rem 0rem;
	height: 10.7rem;
	width: 100%;
	object-fit: cover;
}

.img_3c
{
	border-radius: 1rem 1rem 0rem 0rem;
	width: 100%;
	height:6.72rem;
	 
}

#frioulphoto
{
	object-fit:cover;
}

.l_3a
{
	
	border-radius: 1rem;
	border: white solid;
	width: 45%;
	height:26rem;
	box-shadow: 1px 1px 10px 2px rgba(0,0,0, 0.1);
	margin: 1rem;
}

.l_3b
{

	border-radius: 1rem;
	border:white solid;
	height: 13.8rem;
	width:90.01%;
	box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.1);
	margin: 1rem;
}

.l_3c
{
	
	border-radius:1rem ;
	height:10.02rem;
	width: 90.01%;
	border: white solid;
	box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.1);
	margin: 1rem;

}

/***FOOTER***/
footer
{
	display: flex;
	background-color: #F2F2F2;
	color: black;
	min-width: 400px;
}

footer ul
{
	list-style-type: none;
}


footer a
{
	color: black;
	font-size: 0.78rem;
	
}

#fonctionnement
{
	width:33%;
	margin-left: 45px;
}

#charte
{
	width: 30%;
}


/***MEDIA QUERIES****/

/*Iphone */
@media screen and (min-width:300px) and (max-width:474px)

{

	body{margin:auto;}

	/*header*/
	header{width:auto;display: flex;}
	#titre{display: block;min-width:290px;position:relative;}
	nav ul{display:flex;flex-wrap:wrap;}
	nav{display:block;}
	nav li{width:9.8rem; border-bottom: 3px solid #F2F2F2;
	height: 30px; line-height: 2rem; font-size: 1.1rem;}
	nav li:hover{border-top:none;border-bottom:3px solid #0065FC;}
    nav ul :nth-child(1){order:2;} 
    nav ul :nth-child(2){order:3;}
    nav ul :nth-child(3){order:1;;margin-left:60%;font-size:1.5rem;
    font-weight:bold;border-bottom:none;width:90px}
    
    
	nav a{position:relative; left:0}
    nav a:hover{border-bottom:#0065FC;}
	#logo{position:absolute;}

	#filtres{flex-direction:column;}
	#filtres ul{ display: flex;width:auto;flex-wrap: wrap;}
	#info{font-size:15px}
	
	/*Recherche*/
	#loupe
	{display:initial;border-radius: 1rem; background-color: #0065FC;border:none;color: white;position:relative;left:-17px;top:-1px;height: 45px;
    width: 40px;}
	#lieu{width:57%}
	#recherche{display:none;}

	/***MAIN***/
	main{width:auto;display: flex;flex-direction: column;}
	section{min-width:300px;}
	#sectionRow{width:auto}

	/*hebergements*/
	#hebergement{min-width:300px;width:95%;padding:0;margin-bottom:52rem;order:2;background-color: white;}
	#hebergement h3{margin-top: auto;margin-bottom:8px;padding-left:10px;}
	#hebergement p{margin-bottom:8px;padding-left:10px;margin-left:0px;}
	#hebergementh2{margin-left:20px;}
	.star{padding-left:10px;}
	.row{flex-direction:column;margin:10px;margin-left:0px;margin-right:0px}
	.row article,#hebergement a{min-width:300px;}
	.l_1{width:auto;box-shadow:1px 1px 10px 2px rgba(0,0,0, 0.1);margin-bottom:10px;}
	img{width:auto;}

	/*populaire*/
	#populaire{min-width:300px;width:100%;padding:0;padding-bottom:20px;border-radius:0}
	#populaire h2{width:66%;padding-left:15px}
	#populaire h2 i{left:95px;}
	#populaire a,.nuit{width:auto;}
	.l_2{height:8rem;border-radius:15px;width:auto;min-width:280px;padding-right:0px;margin:5px;margin-left: 10px;margin-right: 10px;}
	.img2{border-radius:11px 0px 0px 11px;width:7rem;height:auto;}
	.nuit .star{margin:0;padding:0;}
	.nuit p{margin-bottom:1.5rem;}
	.nuit h3{margin-bottom:0.3rem}

	/*Activités*/
	#norow{margin-left:0px;margin-right:0px;min-width:300px;width:100%}
	#norowh2{margin:15px;}
	#activites{flex-direction: column;width:auto;margin:auto}
	.port{flex-direction:column;width:auto;margin-left:0px;}
	.l_3{width:100%}
	.l_3a{width:auto;width:89.85%}
	.pomegues{width:auto;}
	#activites article{height:11.1rem}
	#activites img{height:8.5rem;}

	/***Footer***/
	footer{flex-direction:column;width:auto;min-width:330px;}
	footer div{margin-left:1.8rem;}
	#fonctionnement{margin-left:1.8rem;}


}

/*Ipad*/
@media all and (min-width:475px) and (max-width:1024px)

{

	body{width:100%;}
	/***header***/
	header{margin-left:0px;margin-right:0px;}
	#titre{width:100%;}
    
	/*filtre*/
	.filtreli{font-size:13px;padding-top:10px;padding-bottom:10px}
	#dog{width:111px}

	/***MAIN***/
	main{margin:0px;padding:0px}

	/*section*/
    section{margin-bottom:15px;margin:10px;}

	/*hébergements*/
	#hebergement{order:2;padding-left:0;padding-right:0;width:auto;}

	/*populaires*/
	#populaire{width:auto;}
	.img2{width:20.1rem;}
	#populaire h2 i{left:26.3rem;}
	.l_2{width:auto;height:10.8rem}
	#populaire p{margin-bottom:22px;}
	#populaire h2{margin-left:22px;padding:0px}
	.nuit{margin-top:30px;}
	.nuit .star{margin:0px;padding:0px}


	/*Activités*/
    #activites{flex-direction:column;padding-left:0}
    .port{width:auto;}

	/***Footer***/
	footer{width:auto;}

	
}